body {
  font-family: sans-serif;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.navbar {
  background-color: royalblue;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.navbar_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn_dark {
  border-radius: 5px;
}

.btn_apartados {
}
.btn_apartados:hover {
  opacity: 0.6;
}
